<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.justforfun.calc">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".calc.normal.CalcActivity"
            android:label="@string/title_activity_calc"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".memo.MemoActivity" />
        <activity android:name=".calc.big.BigResultActivity"></activity>
        <activity
            android:name=".calc.capital.CapitalMoneyActivity"
            android:label="@string/title_activity_capital_money"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".calc.big.BigDecimalActivity"
            android:label="@string/title_activity_big_decimal"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainTabActivity"
            android:label="@string/title_activity_main_tab"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".guide.GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_guide"
            android:theme="@style/AppTheme.Fullscreen"></activity>
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ResultsActivity"
            android:label="运算结果" />
        <activity
            android:name=".CapitalMoneyActivity"
            android:label="大写数字"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BigDecimalActivity"
            android:label="大数运算"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseConversionActivity"
            android:label="进制转换"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="关于"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyActivity"
            android:label="隐私协议"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserPrivacyActivity"
            android:label="@string/title_activity_user_privacy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>